@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

html {
  scroll-behavior: smooth;
}

.custom-logo  {
    max-width: 190px;
    width: 190px;
}

.btn-primary {
    color: #212529;
    background-color: $primary;
    border-color: $primary;
}

a {
    color: #0e584a;
}

.bg-primary {
    background-color: #0e584a !important;
}

.btn-primary:hover {
    color: #edf6ee;
    background-color: #178e79;
    border-color: #178e79;
}

.wrapper-slider {
    .texto-banner {
        font-size: 1.2rem;
    }
}

.bg-dark-green {
  background-color: #064E3B; /* verde oscuro tipo Therapy Flex */
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

.section-clientes {
    background-color: #EFEFEF;
}

.owl-carousel.owl-drag .owl-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}


.pb-6 {
  padding-bottom: 4rem; 
}
.pb-7 {
  padding-bottom: 6rem; 
}