# OS
.DS_Store

# IDE
.idea
.vscode/

prepros.config
node_modules/
package-lock.json
note
wp-content/uploads/

#Nuevo
# Ignorar node_modules dentro de html
html/node_modules/

# Ignorar DS_Store de macOS
.DS_Store

# Ignorar logs
*.log

# Ignorar carpetas de caché comunes
.cache/
.vscode/
.idea/
